html, body{
  margin:0;
  padding:0;
  font-size:4pt;
}

#documents{
  font-size:2.8rem;
  line-height:3rem;
}

p{
  margin:0;
}

a.download-link:before{
  content:'download';
  display:inline-block;
  margin-left:1rem;
}


#logger{
  padding:1rem;
  box-sizing:border-box;
  position:fixed;
  bottom:0;
  width:100%;
  font-size:2.8rem;
  line-height:3rem;
  height:11rem;
  font-family:monospace;
  background:#333;
  overflow:auto;
  color:white;
}
.logline.error{
  color:red;
}
